.App {
  text-align: center;
}
.card{
  margin: 24px auto; padding: 24px 8px;
  background: #ffffff;
  max-width: 420px; box-shadow: 0 1px 6px #0000001a;
}
.card h2{ margin: 0 0 8px 0; color: #00bcd4;line-height: 30px;font-size: 20px;}
.card p{ margin: 0 0 24px 0; color: #000000;line-height: 20px;font-size: 14px;}
.card a{ margin: 0 8px; padding: 0 8px; color: #000000; width: 120px;
  display: inline-block;line-height: 30px;font-size: 14px; border: 3px solid #00bcd4;}
.card a:hover{background: #00bcd4; color: #ffffff;}